section.cards-section
    position: relative
    overflow: hidden

    .content
        .cards
            display: grid
            grid-template-columns: repeat(3, 1fr)
            align-items: flex-start

            @media screen and (max-width: 650px)
                grid-template-columns: repeat(1, 1fr)

                .card
                    width: 60%
                    margin: 0 auto

            @media screen and (max-width: 450px)
                .card
                    width: 80%



            .card
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                padding: 15px
                text-align: center

                &:hover
                    svg, .photo-wrapper
                        transform: translateY(-10px)

                svg
                    transition-duration: $transition-duration
                    width: 40px
                    height: 40px

                    use
                        fill: rgba($color-a, 0.8)    
                
                .photo-wrapper
                    transition-duration: $transition-duration
                    width: 100px
                    height: 100px
                    border-radius: 100px 
                    display: flex
                    align-items: center
                    justify-content: center
                    overflow: hidden

                    img
                        width: 100%
                        height: auto
                
                p
                    text-decoration: none

    .bg-image
        @media screen and ( max-width: 1150px )
            display: none
            
        position: absolute
        top: calc(50%)
        transform: translateY(-50%)
        height: 300px
        width: auto
        opacity: 0.2

        &.left
            left: -120px

        &.right
            right: -120px
            