section.about
    position: relative
    overflow: hidden

    .content
        .cards
            display: grid
            grid-template-columns: repeat(3, 1fr)

            .card
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                padding: 15px
                text-align: center

                svg
                    width: 40px
                    height: 40px
                    use
                        fill: rgba($color-a, 0.8)       

    .bg-image
        position: absolute
        top: 60px
        height: 300px
        width: auto
        opacity: 0.2

        &.left
            left: -120px

        &.right
            right: -120px
            