html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  color: #000000;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #000000;
}

.regular-width {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Dancing Script", cursive;
  color: #000000;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}

*:focus {
  outline: none;
}

.separator {
  margin: 0 auto;
  width: 100px;
  height: 5px;
  background-color: #eec163;
  border-radius: 100px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
}
.btn.cta {
  border: 2px solid #eec163;
  border-radius: 100px;
  padding: 10px 25px;
  background-color: #eec163;
  font-weight: bold;
  color: #000000;
  transition-duration: 0.3s;
}
.btn.cta:hover {
  background-color: rgba(238, 193, 99, 0);
  color: #eec163;
}
.btn.cta.phantom {
  background-color: rgba(238, 193, 99, 0);
  color: #eec163;
}
.btn.cta.phantom:hover {
  color: #000000;
  background-color: #eec163;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  height: 60px;
  position: fixed;
  width: 100%;
}
header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .content .logo {
  height: 60px;
  width: auto;
}
header .content .logo img {
  height: 100%;
  width: auto;
  filter: invert(1);
}
header .content nav {
  margin: 0;
  padding: 0;
}
header .content nav ul {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .content nav ul li {
  list-style: none;
}
header .content nav ul li a {
  margin-left: 15px;
  padding: 5px;
  display: inline-block;
  font-size: 14px;
  border-bottom: 2px solid rgba(238, 193, 99, 0);
  transition-duration: 0.3s;
  color: #fff;
}
header .content nav ul li a:hover:not(.cta) {
  border-bottom: 2px solid #eec163;
}
header .content button.btn.display {
  display: none;
}

section.hero {
  position: relative;
}
section.hero .bg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: grayscale(5);
  opacity: 0.9;
}
section.hero .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 350px;
  padding-bottom: 100px;
}
section.hero .text h1 {
  font-size: 120px;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
  margin: 0;
}
section.hero .text .btn {
  margin: 0 auto;
  display: inline-block;
  font-size: 20px;
}

section.cards-section {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}
section.cards-section .content .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
section.cards-section .content .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
section.cards-section .content .cards .card:hover svg, section.cards-section .content .cards .card:hover .photo-wrapper {
  transform: translateY(-10px);
}
section.cards-section .content .cards .card svg {
  transition-duration: 0.3s;
  width: 40px;
  height: 40px;
}
section.cards-section .content .cards .card svg use {
  fill: rgba(0, 0, 0, 0.8);
}
section.cards-section .content .cards .card .photo-wrapper {
  transition-duration: 0.3s;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
section.cards-section .content .cards .card .photo-wrapper img {
  width: 100%;
  height: auto;
}
section.cards-section .content .cards .card p {
  text-decoration: none;
}
section.cards-section .bg-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 300px;
  width: auto;
  opacity: 0.2;
}
section.cards-section .bg-image.left {
  left: -120px;
}
section.cards-section .bg-image.right {
  right: -120px;
}

section.gallery .splide__slide {
  height: 400px;
  width: 33.33%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
section.gallery .splide__slide img {
  width: 100%;
  height: auto;
}
section.gallery button.splide__arrow {
  top: 65% !important;
}

/*# sourceMappingURL=styles.css.map */
